@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #003262;
  --berkeley-blue: #003262;
  --california-gold: #FDB515;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-berkeley-blue: var(--berkeley-blue);
  --color-california-gold: var(--california-gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #003262;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.figtree {
  font-family: "Figtree", sans-serif !important;
}
.inter {
  font-family: "Inter", sans-serif !important;
}

/* Ensure navbar links are California Gold */
nav ul li a {
  color: #FDB515 !important;
}
